html,
body {
  margin: 0;
  padding: 0; }

canvas {
  display: block; }

.no-scroll {
  overflow: hidden; }

#canvas-container {
  position: relative; }
  #canvas-container .settings-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 25px;
    margin: 1em; }
    #canvas-container .settings-container p {
      color: white; }
      #canvas-container .settings-container p:hover {
        cursor: pointer; }
    #canvas-container .settings-container #settings {
      width: 10vw;
      visibility: auto; }
      #canvas-container .settings-container #settings.not-visable {
        visibility: hidden; }
      #canvas-container .settings-container #settings label {
        font-weight: normal;
        color: white; }
  #canvas-container canvas {
    position: absolute; }
